﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Initial.Master" AutoEventWireup="true" CodeBehind="500.aspx.cs" Inherits="KASI_Extend_.Reports2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            height: 16px;
        }
    </style>
    </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentMainSection" runat="server">

    <form id="form1" runat="server">

    <div class="container_btns">
        <table class="tbl_width_1200"> <!-- MAIN TABLE STARTS HERE -->
            <tr>
                <td class="rep_main_headings">REPORTS</td>
                <td style="text-align:right;"><asp:Button runat="server" CssClass="aa_btn_red" Text="Create Austrac File" ID="btnAustract" OnClick="btnAustract_Click" /></td>
            </tr>

        </table> <!-- MAIN TABLE ENDS HERE -->
    </div>

    <div>
        Error 500
    </div>   

    </form>

</asp:Content>
