﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BankFilesReportViewer.aspx.cs" Inherits="KASI_Extend_.BankFilesReportViewer" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    
    </form>
</body>
</html>
