﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Initial.master.cs" Inherits="KASI_Extend_.Initial" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>KAASI - Money transfer made easy!</title>
    <link rel="stylesheet" type="text/css" href="css/kasi_main.css" />
    
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed:400,500,600,700" rel="stylesheet" />
     
    

    <!-- <link href="/css/datatables.min.css" rel="stylesheet" /> -->
    
      <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script type="text/javascript" charset="utf-8" src="/js/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#TD_Incoming').click(function () {
                location.href = 'inward/importIFTI.aspx';
            })

            $('#Image2').click(function () {
                window.location.href = "/logout.aspx";
            });
            $(".datePickerReport").datepicker({ dateFormat: 'dd/mm/yy' });
            $('.table').dataTable();


        });

    </script>
  
    <asp:ContentPlaceHolder ID="head" runat="server">
        
    </asp:ContentPlaceHolder>

<style>
    body {
        background-color: #DCDCDC !important;
    }

    .ad_top_container {
        margin: 0 auto;
        max-width: 100%;
        background-color: #333333;
        height: 35px;
        padding-top: 0px;
    }

        .top_sml_btns_blue {
        background-color: #565555;
    }
    .top_sml_btns_blue:hover {
        background-color: #048ABB;
        cursor:pointer;
    }
</style>

</head>
<body>
   
   
   
    <div>
        <form id="theform">
        <div class="ad_top_container">
            <table class="tbl_width_1200">
                <tr>
                    <td style="text-align:left; vertical-align:middle; padding-top:3px; width:35px; height:35px; text-align:center;" class="top_sml_btns_blue" id="TD_Incoming">
                        <asp:Image ID="Image3xxx" runat="server" ImageUrl="~/inward/images/import.png" Width="18px" Height="18px" Text="KAASI OUTWARD"/>
                    </td>
                    <td class="ag_top_nav_container_text_ad" style="text-align:right;"><asp:Label ID="AdminNameTitle" runat="server" class="ad_master_logged_label" Text="Label"></asp:Label></td>
                    <td style="width:35px;" class="ag_master_logout"><asp:Image ID="Image2" runat="server" ImageUrl="~/images/logout.png" Width="16px" Height="16px" /></td>
                </tr>
            </table>
        </div>
        <div class="container_nav" runat="server" id="DIV_Container">
        <table class="tbl_width_1200 background_22D676"> <!-- MAIN TABLE STARTS HERE -->
               <tr style="height: 39px; padding-top: 20px;">
                   <td>&nbsp</td>
                   <td style="text-align: right"><a class="nav_btn nav_btn_right_brdr nav_btn_left_brdr" href="Welcome.aspx" target="_self">HOME</a><a class="nav_btn nav_btn_right_brdr" href="Transactions.aspx" target="_self">TRANSACTIONS</a><a class="nav_btn nav_btn_right_brdr" href="Banking.aspx" target="_self">BANKING</a><a class="nav_btn nav_btn_right_brdr" href="Reports.aspx" target="_self">REPORTS</a><a class="nav_btn nav_btn_right_brdr" href="Settings.aspx" target="_self">SETTINGS</a>
                   </td>

               </tr>
        </table> <!-- MAIN TABLE ENDS HERE -->
        </div>
        </form>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
           
        
        </asp:ContentPlaceHolder>

        <asp:ContentPlaceHolder ID="ContentMainSection" runat="server">

        </asp:ContentPlaceHolder>

        <div class="container_footer no_padding_top">
        <table class="tbl_width_1200"> <!-- MAIN TABLE STARTS HERE -->
            <tr><td>
                <table class="tbl_width_1200">
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>                   
                                    <td class="footer_fnt">© 2016-2017 KAASI. All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Designed by INVETICO&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Powered by Flexewallet</td>

                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td class="footer_fnt"><img src="images/flexewallet-logo.png" /></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
            </td></tr>
        </table> <!-- MAIN TABLE ENDS HERE -->
    </div>


    </div>
  
   
  
</body>
</html>
