﻿<%@ Page Title="" Language="C#" MasterPageFile="~/kasi-main.Master" AutoEventWireup="true" CodeBehind="iProfile.aspx.cs" Inherits="KASI_Extend.iProfile" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentMainSection" runat="server">
</asp:Content>
