﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="kasi-main.Master.cs" Inherits="KASI_Extend_.KASI_MAIN" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>KAASI - Money transfer made easy!</title>
    <!--<link rel="stylesheet" type="text/css" href="css/app.css" />-->
    <link rel="stylesheet" type="text/css" href="css/kasi_main.css" />
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css' />
    <link href="css/jquery-ui.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
        
    </asp:ContentPlaceHolder>

<style>
    body 
    {
        background-color: forestgreen;
    }
</style>
    <script type="text/javascript">
        $(document).ready(function() {
           
            $(".datePickerReport").datepicker({ dateFormat: 'dd/mm/yy' }).val();

            $('#<%=Image2.ClientID%>').click(function () {
                window.close();
            })
        })
    </script>
</head>

<body>
   <div class="loading" style="width:100%;height:100%;background-color:white;opacity:0.5;z-index:99999;position:fixed;display:none"></div>
    <img class="loading" style="z-index:999999;top:50%;left:50%;position:fixed;display:none" src="images/loading.gif" />
    <div>
        <!-- MASTER HEADER STARTS -->
        	
        
        <div class="ag_top_nav_container_ad">
            <table class="tbl_width_1200">
                <tr>
                    <td class="ag_top_nav_container_text_ad"><asp:Label ID="AgentNameTitle" runat="server" class="ad_master_logged_label" Text="Label"></asp:Label></td>
                    <td style="width:30px;" class="ag_master_logout"><asp:Image ID="Image2" runat="server" ImageUrl="~/images/logout.png" Width="16px" Height="16px" /></td>
                </tr>
            </table>
        </div>

        <input type="text" id="hidden_LoggedUserID" name="hidden_LoggedUserID" value="2" hidden="hidden" />
        <!-- MASTER HEADER ENDS -->
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        

        
        </asp:ContentPlaceHolder>

        <asp:ContentPlaceHolder ID="ContentMainSection" runat="server">

        </asp:ContentPlaceHolder>

<!-- MASTER FOOTER STARTS ---------------------------------------------------------------------->
        <div class="container_footer no_padding_top">
        <table class="tbl_width_1200"> <!-- MAIN TABLE STARTS HERE -->
            <tr><td>
                <table class="tbl_width_1200">
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>                   
                                    <td class="footer_fnt">© 2016-2017 KAASI. All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Designed by INVETICO&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Powered by Flexewallet</td>

                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td class="footer_fnt"><img src="images/flexewallet-logo.png" /></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
            </td></tr>
        </table> <!-- MAIN TABLE ENDS HERE -->
    </div>
<!-- MASTER FOOTER ENDS ----------------------------------------------------------------------->

    </div>

    <!-- Session Timeout Management -->
     
</body>
</html>
