﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AgentControl/Initial.Master" AutoEventWireup="true" CodeBehind="TEST_AgentW.aspx.cs" Inherits="KASI_Extend_.TEST_AgentW" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            width: 183px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentMainSection" runat="server">
     
    <form id="form1" runat="server">

    <div class="container_btns">
        <table class="tbl_width_1200"> <!-- MAIN TABLE STARTS HERE -->
            <tr>
                <td class="all_main_page_headings">REPORTS</td>
                <td style="text-align:right;"><button class="btn_red" id="btn_AddCustomer" onclick="">Not In Use</button></td>
            </tr>

        </table> <!-- MAIN TABLE ENDS HERE -->
    </div>

        <div class="container_one">

             <table class="tbl_width_1200">
                <tr>
                    <td class="background_FFFFFF">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <table class="tbl_width_160">
                                        <tr><td style="height:20px;">&nbsp;</td></tr>
                                        <tr><td style=" height:120px; text-align:center;"><asp:Image ID="Image7" runat="server" ImageUrl="~/images/document_av.png" /></td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td class="rep_description">List of Transactions Report</td></tr>
                                        <tr><td class="rep_description">&nbsp;</td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td class="rep_topline rep_select" style="height:35px;"><asp:Button ID="Button7" runat="server" Text="SELECT" CssClass="rep_btn" OnClick="Button7_Click" /></td></tr>
                        </table>
                        </td>
                    <td style="width:20px;">&nbsp;</td>
                     <td class="background_FFFFFF brdr_shadow">
                   <%-- <table style="width:100%;"><tr><td>
                        <table class="tbl_width_160">
                            <tr><td style="height:20px;">&nbsp;</td></tr>
                            <tr><td style=" height:120px; text-align:center;">
                                <asp:Image ID="Image8" runat="server" ImageUrl="~/images/time-is-money.png" />
                                </td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td class="rep_description">Escalated of Compliance Transactions Report</td></tr>
                            <tr><td class="rep_description">&nbsp;</td></tr>
                        </table>
                        </td></tr>
                            <tr><td class="rep_topline rep_select" style="height:35px;"><asp:Button ID="Button8" runat="server" Text="SELECT" CssClass="rep_btn" OnClick="Button8_Click" /></td></tr>
                        </table>--%>

                         <table class="tbl_width_160"> 
                         <tr><td>&nbsp;</td></tr>
                     </table>

                        </td>
                 <td style="width:20px;">&nbsp;</td> <!-- SEPERATOR 06 -->
                    
                    <td class="background_FFFFFF brdr_shadow">
                    <%--<table style="width:100%;"><tr><td>
                        <table class="tbl_width_160">
                            <tr><td style="height:20px;">&nbsp;</td></tr>
                            <tr><td style=" height:120px; text-align:center;">
                                <asp:Image ID="Image9" runat="server" ImageUrl="~/images/time-is-money.png" />
                                </td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td class="rep_description">Transaction Summary Report</td></tr>
                            <tr><td class="rep_description">&nbsp;</td></tr>
                        </table>
                        </td></tr>
                            <tr><td class="rep_topline rep_select" style="height:35px;"><asp:Button ID="Button9" runat="server" Text="SELECT" CssClass="rep_btn" OnClick="Button9_Click" /></td></tr>
                        </table>--%>


                        <table class="tbl_width_160"> 
                         <tr><td>&nbsp;</td></tr>
                     </table>

                        </td>
                    <td style="width:20px;">&nbsp;</td>
                     <td class="background_FFFFFF brdr_shadow">
                    <%--<table style="width:100%;"><tr><td>
                        <table class="tbl_width_160">
                            <tr><td style="height:20px;">&nbsp;</td></tr>
                            <tr><td style=" height:120px; text-align:center;">
                                <asp:Image ID="Image10" runat="server" ImageUrl="~/images/time-is-money.png" />
                                </td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td class="rep_description">List of Cedit/Debit 
                                <br />
                                Report</td></tr>
                            <tr><td class="rep_description">&nbsp;</td></tr>
                        </table>
                        </td></tr>
                            <tr><td class="rep_topline rep_select" style="height:35px;"><asp:Button ID="Button10" runat="server" Text="SELECT" CssClass="rep_btn" OnClick="Button9_Click" /></td></tr>
                        </table>--%>

                         <table class="tbl_width_160"> 
                         <tr><td>&nbsp;</td></tr>
                     </table>


                        </td>
                    <td style="width:20px;">&nbsp;</td>
                     <td class="background_FFFFFF">
                   <%-- <table style="width:100%;"><tr><td>
                        <table class="tbl_width_160">
                            <tr><td style="height:20px;">&nbsp;</td></tr>
                            <tr><td style=" height:120px; text-align:center;">
                                <asp:Image ID="Image11" runat="server" ImageUrl="~/images/time-is-money.png" />
                                </td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td class="rep_description">Transaction Summery Report</td></tr>
                            <tr><td class="rep_description">&nbsp;</td></tr>
                        </table>
                        </td></tr>
                            <tr><td class="rep_topline rep_select" style="height:35px;"><asp:Button ID="Button11" runat="server" Text="SELECT" CssClass="rep_btn" OnClick="Button9_Click" /></td></tr>
                        </table>--%>
                        
                     <table class="tbl_width_160"> 
                         <tr><td>&nbsp;</td></tr>
                     </table>
                     
                     </td>
                    <td style="width:20px;">&nbsp;</td>
                     <td class="background_FFFFFF">
                   <%-- <table style="width:100%;"><tr><td>
                        <table class="tbl_width_160">
                            <tr><td style="height:20px;">&nbsp;</td></tr>
                            <tr><td style=" height:120px; text-align:center;">
                                <asp:Image ID="Image12" runat="server" ImageUrl="~/images/time-is-money.png" />
                                </td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td class="rep_description">Transaction Summery Report</td></tr>
                            <tr><td class="rep_description">&nbsp;</td></tr>
                        </table>
                        </td></tr>
                            <tr><td class="rep_topline rep_select" style="height:35px;"><asp:Button ID="Button12" runat="server" Text="SELECT" CssClass="rep_btn" OnClick="Button9_Click" /></td></tr>
                        </table>--%>
                     <table class="tbl_width_160">
                         <tr><td>&nbsp;</td></tr>
                     </table>   
                     
                     </td>
                   

                </tr>
            </table>
        </div>

    </form>

</asp:Content>

