﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Reports.master.cs" Inherits="KASI_Extend_.AgentControl.Reports" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>KAASI - Money transfer made easy!</title>
    <link rel="stylesheet" type="text/css" href="../css/kasi_main.css" />
    <link href="../css/jquery-ui.min.css" rel="stylesheet" />
    
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/jquery-ui.min.js"></script>
     <link href="/css/toastr.min.css" rel="stylesheet" />


	<script src="/js/toastr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Image2').click(function () {
                window.location.href = "logout.aspx";
            });
            $(".datePickerReport").datepicker({ dateFormat: 'dd/mm/yy' });
            $("[id$=btnViewReport]").click(function () {
               
                if ($("[id$=FromDate]").val() != '' && $("[id$=EndDate]").val() != '') {
                    return true;
                }
                else {
                    showerror("From date and end date should be selected!");
                    return false;
                }

            });
        });
        function showerror(msg) {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 6000
            };
            toastr.error(msg, 'Error');

        }
        function showsuccess(msg, body) {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 6000
            };
            toastr.success(msg, body);

        }
    </script>
    
    <asp:ContentPlaceHolder ID="head" runat="server">
        
    </asp:ContentPlaceHolder>

<style>
    body {
        background-color: #DCDCDC !important;
    }
</style>


</head>
<body>
   
   
    <div>
        <div class="ag_top_nav_container">
            <table class="tbl_width_1200">
                <tr>
                    <td class="ag_top_nav_container_text"><asp:Label ID="AgentNameTitle" class="ag_master_logged_label" runat="server" Text="Label"></asp:Label></td>
                    <td style="width:30px;" class="ag_master_logout"><asp:Image ID="Image2" runat="server" ImageUrl="~/images/logout.png" Width="16px" Height="16px" /></td>
                </tr>
            </table>
        </div>
        
        <div class="container_nav">
        <table class="tbl_width_1200 background_22D676"> <!-- MAIN TABLE STARTS HERE -->
               <tr style="height: 39px; padding-top: 20px;">
                   <td>
                       &nbsp;</td>
                   <td style="text-align: right"><a class="nav_btn nav_btn_right_brdr nav_btn_left_brdr" href="../AgentW.aspx" target="_self">HOME</a><a class="nav_btn nav_btn_right_brdr" href="../TransactionsW.aspx" target="_self">TRANSACTIONS</a><a class="nav_btn nav_btn_right_brdr" href="../BankingW.aspx" target="_self">BANKING</a><a class="nav_btn nav_btn_right_brdr" href="../ReportsW.aspx" target="_self">REPORTS</a><a class="nav_btn nav_btn_right_brdr" href="../SettingsW.aspx" target="_self">SETTINGS</a>
                   </td>

               </tr>
        </table> <!-- MAIN TABLE ENDS HERE -->
        </div>

        <div style="background-color:#EFEFEF;">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
           
        
        </asp:ContentPlaceHolder>

        <asp:ContentPlaceHolder ID="ContentMainSection" runat="server">

        </asp:ContentPlaceHolder>
        </div>

        <div class="container_footer no_padding_top">
        <table class="tbl_width_1200"> <!-- MAIN TABLE STARTS HERE -->
            <tr><td>
                <table class="tbl_width_1200">
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>                   
                                    <td class="footer_fnt">© 2016-2017 KAASI. All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Designed by INVETICO&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Powered by Flexewallet</td>

                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td class="footer_fnt"><img src="images/flexewallet-logo.png" /></td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
            </td></tr>
        </table> <!-- MAIN TABLE ENDS HERE -->
    </div>


    </div>
  
   
  

  
   
  
</body>
</html>

