﻿
.swagger-section #header a#logo{
background:none !important;
padding:0px !important;
margin-left:-113px;
}

body.swagger-section #header {
    background-color: #20a8d8 !important;
   
}
img{
    height:70px
}